body {
    background-image: url(../images/plainBAckground.jpg);
    background-size: cover;
    font-family: 'Lobster', cursive;
    font-size: 1.3rem;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
}

